@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/*header styles */
.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  width: 100%;
  color: white;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.header__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header__title .highlight {
  color: orangered;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-size: 1.5rem;
}

.navbar__item {
  border-bottom: transparent;
  transition: all 0.3s ease;
}

.navbar__item:hover {
  color: orangered;
  border-bottom: 2px solid orangered;
}

.navbar__item:active {
  color: orangered;
  border-bottom: 2px solid orangered;
}

.navbar__button {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 1.75rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.navbar__button:hover {
  background-color: orangered;
  border-color: orangered;
  color: white;
  box-shadow: 0 4px 6px rgba(255, 69, 0, 0.6);
}

.navbar__button:focus {
  outline: none;
}

.hamburger-icon,
.close-icon {
  display: none;
  color: white;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
}


@media (max-width: 1024px){
  .header__title{
    font-size: 2.3rem; 
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      width: 40%;
      font-size: 1.5rem;
    }

    .header{
     padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .navbar {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    justify-content: space-between;
    top: 70px;
    left: 0;
    padding: 1rem;
    width: 100%;
  }

  .header__title{
    display: flex;
    align-items: center;
    font-size: 2.3rem;   
  }

  .header__title .highlight{
    margin-left: 0.5rem;
  }

  .navbar.active {
    display: flex;
  }

  .navbar__item {
    width: 100%;
    padding: 0.5rem;
    text-align: center;

  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-icon,
.close-icon {
  color: white;
  font-size: 1.7rem;
}

  .navbar__button {
    margin-top: 0rem;
    font-size: 1.2rem;
    padding: 0.3rem 1.2rem;
  }
}



@media (max-width: 600px){
.header__title{
  font-size: 1.75rem; 
  }

  .navbar__button {
    padding: 0.2rem 0.5rem;
  }

  .navbar__item{
    font-size: 1.3rem;
  }
}


 /* home styles */

 .home{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 7em;
  padding: 7rem 7% 0;
 }

 .home-content{
  max-width: 750px;
 }

 .home h3{
  font-size: 42px;
 }

 .home-content h1{
  font-size: 62px;
  line-height: 1.2;
 }
 .home-content span{
  color: orangered;
 }

 .home-content p{
font-size: 18px;
margin: 25px 0 30px;
 }

 .btn-box{
  width: 345px;
  display: flex;
  gap: 2em;
 }

 .btn-1{
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
 }

 .btn-1:hover{
  background-color: #fff;
  color: black;
  border: 2px solid black;
 }

 .btn-2{
  padding: 15px 28px;
  background-color: orangered;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  font: 18px;
  letter-spacing: 1px;
font: 600;
transition: 0.3s ease;
cursor: pointer;
 }

 .btn-2:hover{
  background-color: #fff;
  color: orangered;
 }

 
.img-box {
  width: 550px;
  height: 500px;
  position: relative; /* Required for Image layout 'fill' */
}

.img-box-1{
  display: none;
}

.img {
  border-radius: 50%;
  object-fit: cover; /* Ensures the image scales well in a circle */
}

 ::-webkit-scrollbar{
  width: 15px;
 }

 ::-webkit-scrollbar-thumb{
  background-color: orangered;
 }

 ::-webkit-scrollbar-track{
background-color: black;
width: 50px;
 }


 @media (max-width: 1100px) {
  .home{
    gap: 3em;
    padding: 50px 5% 0;
   }
  
   .home-content{
    max-width: 650px;
   }
  
   .home h3{
    font-size: 32px;
   }
  
   .home-content h1{
    font-size: 52px;
    line-height: 1.2;
   }

   .btn-1{
    padding: 10px 28px;
    border-radius: 8px;
    font-size: 18px;
   }
  
   .btn-2{
    padding: 10px 28px;
   }

   
  .img-box {
    width: 600px;
    height: 400px;
    position: relative; 
  }
  
   }



   @media (max-width: 950px){
    .home-content{
      max-width: 550px;
      
     }
     .home{
      gap: 3em;
      padding: 50px 4% 0;
     }
   }

   @media (max-width: 800px){
    .home-content{
      max-width: 500px;
      
     }
     .home{
      gap: 3em;
      padding: 50px 2% 0;
     }

     .home h3{
      font-size: 32px;
     }
    
     .home-content h1{
      font-size: 42px;
      line-height: 1.2;
     }
   }


   @media (max-width: 768px) {
    
 .home{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 7rem 2% 0;
 }

 .home-content{
  max-width: 97%;
 }

 .home h3{
  font-size: 32px;
 }

 .home-content h1{
  font-size: 52px;
  line-height: 1.2;
 }

 .home-content p{
font-size: 18px;
 }

 .btn-box{
  width: 100%;
  display: flex;
  gap: 2em;
  justify-content: center;
 }

 .btn-1{
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
 }


 .btn-2{
  padding: 10px 30px;
  font: 18px;
 }

 
.img-box-1 {
  display: block;
  width: 350px;
  height: 400px;
  position: relative; 
}

.img-box{
  display: none;
}

.img {
  border-radius: 50%;
  object-fit: cover; 
}
   }


   
   @media (max-width: 500px) {
    
    .home{
     display: flex;
     flex-direction: column;
     align-items: center;
    }
   
    .home-content h1 , .home-content h3{
     margin-left: 3px;
    }
   
    .home h3{
     font-size: 32px;
    }
   
    .home-content{
      width: 95%;
    }

    .home-content h1{
     font-size: 35px;
     line-height: 1.2;
    }
   
    .home-content span{
      font-size: 42px;
    }
    .home-content p{
   font-size: 18px;
    }
   
    .btn-box{
     width: 100%;
     display: flex;
     gap: 2em;
     justify-content: center;
    }
   
    .btn-1{
     padding: 10px 30px;
     border-radius: 8px;
     font-size: 18px;
     letter-spacing: 1px;
    }
   
   
    .btn-2{
     padding: 10px 30px;
     font: 18px;
    }
   
    
   .img-box-1 {
     display: block;
     width: 300px;
     height: 350px;
     position: relative; 
   }
   
   .img-box{
     display: none;
   }
   
   .img {
     border-radius: 50%;
     object-fit: cover; 
   }
      }